[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C = US
ST = New York
L = New York
O = Alex Inc.
OU = SUV
CN = SERVICE_NAME
UID = alex:uid:client

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = client.local

[ v3_req ]
extendedKeyUsage = clientAuth
keyUsage = digitalSignature, keyEncipherment
